<!DOCTYPE html>
<html>
<head>
<script src="https://code.jquery.com/jquery-2.1.4.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
  <meta charset="utf-8">
  <title>Directives in Angular</title>
</head>
<body ng-app="bookstore" ng-controller="MainController">

  <ul ng-controller="BookController">
    <li ng-harmony ng-repeat="book in books">
      <input type="checkbox" ng-model="checked" checked/>
      <book h-show="checked" ng-model="data" source="book"></book>
    </li>
  </ul>

  <span ng-bind="name"></span>

  <form name="form">
    <input type="text" name="username" ng-model="username" uniquename>
    <span ng-if="form.username.$invalid">This name does not exist</span>
    <pre>{{form | json}}</pre>
  </form>
  <script src="index.js"></script>

</body>
</html>
